body{
    background-color: rgb(0, 0, 44);

    nav {
        background-color: rgb(0, 0, 44);
        color: #fff;

        
    }
    a.navbar-brand {
        color: #fff;
    }
    a.nav-link {
        color: #fff;
    }
}